button {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(39, 22, 141);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 10px;
  width: 100%;
}

button:hover {
  background-color: rgb(113, 65, 225);
}