button {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #27168d;
  border: 1px solid #ce3f3f;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 10px;
  width: 100%;
}

button:hover {
  background-color: #3400ae;
  box-shadow: 10px 5px 5px #ce3f3f;
}