.section-person-list {
  margin: 0;
}

.empty-list {
  border-radius: 20px;
  background-color: #f76c6c;
  margin: 10rem auto;
  padding: 5px;
  width: 25%;
  overflow-wrap: anywhere;
}

.empty-list p{
  text-align: center;
  color: #f4f4f4;
  margin: 20px;
  font-size: 1.2em;
}

.person-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  justify-content: center;
  margin: 40px auto;
  width: 80%;
  height: auto;
  padding-bottom: 40px;
  padding-inline-start: 0;
  color: #f4f4f4;
}

@media only screen and (max-width: 800px) {
  .person-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .empty-list {
    width: 75%;
  }
  
}